@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");
@import "index.css";
@import "home-bar.css";
@import "header.css";
@import "category.css";
@import "works.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 60px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
